# Python
backend/venv/
backend/__pycache__/
*.pyc

# Temporary image storage
backend/uploads/
backend/processed/

# React
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db